
<p>
  <b>Name:</b>
  <%= @survey.title %>
</p>

<p>
  <b>Description:</b>
  <%= @survey.description %>
</p>
<hr>

<h2>Responses</h2>
<table>
  <tr>
    <th>From - Email</th>
    <% @survey.questions.each do |question| %>
      <th><%= question.content %></th>
    <% end %>
  </tr>
  <% @survey.responses.each do |response| %>  
    <tr>
      <td><%= response.user.email %></td>
      <% response.answers.each do |answer| %>
        <td><%= answer.content %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<hr>



<%= link_to 'Edit', edit_enquete_path(@survey) %> |
<%= link_to 'Back', enquetes_path %>
